################################################################################
# SPRINGBOARD HTML SNIPPETS
################################################################################

'.text.html.basic':

    # SB - grid
    'Springboard Grid':
        'prefix': 'sb-grid'
        'description': 'A grid container from the Springboard framework'
        'body':"""
        <div class="o-grid">

            $1

        </div>
        """

    # SB - grid item
    'Springboard Grid Item':
        'prefix': 'sb-item'
        'description': 'A single column from the Springboard framework'
        'body':"""
        <div class="o-grid__item">

            $1

        </div>
        """

    # SB - grid & 1 grid item
    'Springboard 1 Column':
        'prefix': 'sb1'
        'description': 'A single grid row / column from the Springboard framework'
        'body':"""
        <div class="o-grid  o-grid--item">

            $1

        </div>
        """

    # SB - grid & 2 columns
    'Springboard 2 Columns':
        'prefix': 'sb2'
        'description': 'A Grid row with 2 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

        </div>
        """

    # SB - grid & 3 columns
    'Springboard 3 Columns':
        'prefix': 'sb3'
        'description': 'A Grid row with 3 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

        </div>
        """

    # SB - grid & 4 columns
    'Springboard 4 Columns':
        'prefix': 'sb4'
        'description': 'A Grid row with 4 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

        </div>
        """

    # SB - grid & 5 columns
    'Springboard 5 Columns':
        'prefix': 'sb5'
        'description': 'A Grid row with 5 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

        </div>
        """

    # SB - grid & 6 columns
    'Springboard 6 Columns':
        'prefix': 'sb6'
        'description': 'A Grid row with 6 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

            <div class="o-grid__item">

                $6

            </div>

        </div>
        """

    # SB - grid & 7 columns
    'Springboard 7 Columns':
        'prefix': 'sb7'
        'description': 'A Grid row with 7 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

            <div class="o-grid__item">

                $6

            </div>

            <div class="o-grid__item">

                $7

            </div>

        </div>
        """

    # SB - grid & 8 columns
    'Springboard 8 Columns':
        'prefix': 'sb8'
        'description': 'A Grid row with 8 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

            <div class="o-grid__item">

                $6

            </div>

            <div class="o-grid__item">

                $7

            </div>

            <div class="o-grid__item">

                $8

            </div>

        </div>
        """

    # SB - grid & 9 columns
    'Springboard 9 Columns':
        'prefix': 'sb9'
        'description': 'A Grid row with 9 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

            <div class="o-grid__item">

                $6

            </div>

            <div class="o-grid__item">

                $7

            </div>

            <div class="o-grid__item">

                $8

            </div>

            <div class="o-grid__item">

                $9

            </div>

        </div>
        """

    # SB - grid & 10 columns
    'Springboard 10 Columns':
        'prefix': 'sb10'
        'description': 'A Grid row with 10 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

            <div class="o-grid__item">

                $6

            </div>

            <div class="o-grid__item">

                $7

            </div>

            <div class="o-grid__item">

                $8

            </div>

            <div class="o-grid__item">

                $9

            </div>

            <div class="o-grid__item">

                $10

            </div>

        </div>
        """

    # SB - grid & 11 columns
    'Springboard 11 Columns':
        'prefix': 'sb11'
        'description': 'A Grid row with 11 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

            <div class="o-grid__item">

                $6

            </div>

            <div class="o-grid__item">

                $7

            </div>

            <div class="o-grid__item">

                $8

            </div>

            <div class="o-grid__item">

                $9

            </div>

            <div class="o-grid__item">

                $10

            </div>

            <div class="o-grid__item">

                $11

            </div>

        </div>
        """

    # SB - grid & 12 columns
    'Springboard 12 Columns':
        'prefix': 'sb12'
        'description': 'A Grid row with 12 columns from the Springboard framework'
        'body':"""
        <div class="o-grid">

            <div class="o-grid__item">

                $1

            </div>

            <div class="o-grid__item">

                $2

            </div>

            <div class="o-grid__item">

                $3

            </div>

            <div class="o-grid__item">

                $4

            </div>

            <div class="o-grid__item">

                $5

            </div>

            <div class="o-grid__item">

                $6

            </div>

            <div class="o-grid__item">

                $7

            </div>

            <div class="o-grid__item">

                $8

            </div>

            <div class="o-grid__item">

                $9

            </div>

            <div class="o-grid__item">

                $10

            </div>

            <div class="o-grid__item">

                $11

            </div>

            <div class="o-grid__item">

                $12

            </div>

        </div>
        """
